$font-size: 1rem;
$font-color: lch(53 105 40);

html {
	font-size: $font-size;
	color: $font-color;
	padding: 10% 20%;
}

.wrapper {
	min-width: 320px;
	.js-range-slider {
		position: relative;
		width: 100%;
		border-radius: 4px;
		background-color: #999;
		height: 10px;
		&__between {
			position: absolute;
			height: 5px;
			width:0px;
			margin-top:3px;
			border: none;
			background-color: #559933;
		}
		&__button {
			position: absolute;
			top: 50%;
			width: 20px;
			height: 20px;
			cursor: pointer;
			transform: translateY(-50%);
			border: none;
			border-radius: 50%;
			background-color: #999;
		}
	}
}